{% extends 'blog/entry.html' %}

{% block tab %}
	<section id="tab" class="noselect">
		<div id="tab_content" class="tab_selected">content</div>
		<div id="tab_info" >info</div>
	</section>
{% endblock %}

{% block content %}
	<section id="content" class="content_with_list">
		{% for object in object_list %}
			{% block entry %}
				{{ block.super }}
			{% endblock %}
		{% endfor %}
	</section>
{% endblock %}

{% block info %}
	<section id="info">
		<div class="card info_card">
			<h1 class="title">panel</h1>
			<div class="card_content">
				<p><a href="/create">create</a></p>
				<p><a href="/created">created</a></p>
				<p><a href="/logout">logout</a></p>
			</div>
		</div>

		<div class="card info_card">
			<h1 class="title">categories</h1>
			<div class="card_content">
				<p><a href="#">mail</a></p>
				<p><a href="#">rss</a></p>
			</div>
		</div>

		<div class="card info_card">
			<h1 class="title">about</h1>
			<div class="card_content">
				<p><a href="#">mail</a></p>
				<p><a href="#">rss</a></p>
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			// Tab manager initialiazation
			tabUI.initTabs('content', 'info', 'tab_content', 'tab_info');
		});
	</script>
{% endblock %}
