{% extends 'blog/entry.html' %}

{% block tab %}
	<section id="tab" class="noselect">
		<div id="tab_content" class="tab_selected">content</div>
		<div id="tab_info" >info</div>
	</section>
{% endblock %}

{% block content %}
	<section id="content" class="content_with_list">
		{% for object in object_list %}
			{% block entry %}
				{{ block.super }}
			{% endblock %}
		{% endfor %}
	</section>
{% endblock %}

{% block info %}
	<section id="info">
		{% if user.is_authenticated %}
			<div class="card info_card">
				<h1 class="title">panel</h1>
				<div class="card_content">
					<p><a href="/new_entry">new entry</a></p>
					<p><a href="/all_entries">all entries</a></p>
					<p><a href="/images">images</a></p>
					<p><a href="/categories">categories</a></p>
					<p><a href="/logout">logout</a></p>
				</div>
			</div>
		{% endif %}

		<div class="card info_card">
			<h1 class="title">about</h1>
			<div class="card_content">
				<p><a href="mailto:dortamiguel@gmail.com" target="_blank">email</a></p>
				<p><a href="https://twitter.com/ellipticaldoor">twitter</a></p>
				<p><a href="https://github.com/ellipticaldoor/">github</a></p>
				<p><a href="/rss">rss</a></p>
			</div>
		</div>

		<div class="card info_card">
			<h1 class="title">categories</h1>
			<div class="card_content">
				<p><a href="#">mail</a></p>
				<p><a href="/rss">rss</a></p>
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			// Tab manager initialiazation
			tabUI.initTabs('content', 'info', 'tab_content', 'tab_info');
		});
	</script>
{% endblock %}
