{% extends 'base.html' %}

{% block content %}

<div class="card">
	<h1 class="title"><a href="#">title 1</a></h1>
	<div class="card_content">
		<p>Me gustan los juegos sencillos, claros y originales. </p><p>Windosill en concreto te muestra pantalla por pantalla algo nuevo e interesante que te anima a seguir avanzando.</p><p>Tiene una estética muy cuidada que nada más empezar te mete de lleno en su propio mundo, una sensación bastante parecida a la que se produce cuando empiezas a jugar a <a href="http://www.monumentvalleygame.com/">Monument Valley</a>.</p><p>Se puede jugar online en <a href="http://windosill.com/online/">http://windosill.com/online/</a></p>
	</div>
</div>

<div class="card">
	<h1 class="title"><a href="#">title 2</a></h1>
	<div class="content">
		<p>content</p>
	</div>
</div>

<div class="card">
	<h1 class="title"><a href="#">title 3</a></h1>
	<div class="content">
		<p>content</p>
	</div>
</div>

{% endblock %}
