{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}login{% endblock %}

{% block css %}
	{% if not user.is_authenticated %}
		<link rel="stylesheet" href="{% static 'css/panel.css' %}" type="text/css" charset="utf-8">
	{% endif %}
{% endblock %}

{% block content %}
	<section id="content">
		<div class="card card_login">
			{% if not user.is_authenticated %}
					<img src="{% static "img/logo.png" %}">
					{% if next %}
						<form id="auth_form" action="/login/?next={{next}}" method="post" >
					{%else%}
					<form id="auth_form" action="/login/" method="post">
					{% endif %}
						{% csrf_token %}
						{{ form }}
						<input type="submit" value="login" />
					</form>
			{% else %}
				<div class="card">
					<img src="{% static "img/logo.png" %}">
				</div>
				<div><a href="/logout">logout</a></div>
			{% endif %}
		</div>
	</section>
{% endblock %}

{% block header %}{% endblock %}
{% block tab %}{% endblock %}
{% block info %}{% endblock %}
