{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}login{% endblock %}

{% block mid_panel %}
	{% if not user.is_authenticated %}
		<div id="auth_form_container">
			<img src="{% static "img/dfiid_logo_text_high.jpg" %}">
			{% if next %}
				<form id="auth_form" action="/login/?next={{next}}" method="post" >
			{%else%}
			<form id="auth_form" action="/login/" method="post">
			{% endif %}
				{% csrf_token %}
				{{ form }}
				<input class="submit" type="submit" value="login" />
			</form>
		</div>
		<div id="login_signup_link"><a href="/signup">crear cuenta</a></div>
	{% else %}
		<div id="auth_form_container">
			<img src="{% static "img/dfiid_logo_text.jpg" %}">
		</div>
		<div id="login_signup_link"><a href="/logout">logout</a></div>
	{% endif %}
{% endblock %}
