/* general
__________________________________________________________________________ */

*,
*:before,
*:after
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
}

.noselect
{
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	-webkit-touch-callout: none;
	 -khtml-user-select: none;
}


/* typography
__________________________________________________________________________ */

body,
textarea,
input
{
	font-family: 'Open Sans';
	font-size: 115%;

	color: #150821;
	background-color: #fafafa;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* { font-weight: normal; }

*::selection { background: #23faf2 }
*::-moz-selection { background: #23faf2 }

a
{
	text-decoration: none;

	color: #f4449e;
}

a:hover { text-decoration: underline; }

a:visited { color: #9744f4; }

p { margin: .5em .1em; }


/* defaults
__________________________________________________________________________ */

section { overflow: auto; }

ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

li { display: inline; }

li a { display: inline-block; }

img { max-width: 100%; }


/* header
__________________________________________________________________________ */

#header
{
	font-size: 120%;

	width: 100vw;
	height: 6.5em;

	text-align: center;

	background-color: #23faf2;
	background-image: url('/s/img/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	margin-bottom: 1px;
}

.nav_selected { border-bottom: 2px solid #fafafa; }

#header div
{
	line-height: 4.5em;

	width: 100%;
	height: 4.5em;

	cursor: default;
}

#header div h1
{
	opacity: .6;
	color: #340839;
}

nav
{
	line-height: 1.9em;

	overflow: auto;

	width: 100%;
	height: 2em;
	padding: 0;

	background-color: rgba(52, 8, 57, .4);
}

nav a
{
	padding: 0 1em;

	color: #fafafa !important;
}


/* layout
__________________________________________________________________________ */

#tab
{
	font-size: 85%;

	overflow: auto;

	width: 100vw;

	text-align: center;

	border-bottom: 1px solid #23faf2;
}

.tab_selected
{
	text-decoration: underline;

	border-bottom: 2px solid #23faf2 !important;
	color: #9744f4 !important;
}

#tab div
{
	float: left;

	width: 50%;
	padding: 1em;

	cursor: pointer;

	color: #f4449e;
	border-bottom: 2px solid #fafafa;
}

#tab div:hover { text-decoration: underline; }

#content
{
	width: 100vw;
	margin-bottom: 1em;
}

#info
{
	display: none;

	width: 100vw;
}

@media (min-width: 900px)
{
	#tab { display: none; }

	.content_with_list
	{
		float: left;

		width: 70vw !important;
		border-right: 1px solid #23faf2;
	}

	#info
	{
		display: block;
		float: left;

		width: 30vw;
	}

	#info .card
	{
		font-size: 85%;

		max-width: 350px;
	}
}


/* cards
__________________________________________________________________________ */

.card
{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 1.2em;
}

.howto_image
{
	width: 100%;
	height: 10em;
	margin-bottom: .5em;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 500px)
{
	.card_howtos .card_title
	{
		display: inline-block;
		float: right;

		width: calc(100% - 6em);
	}

	.howto_image
	{
		float: left;

		width: 8em;
		height: 8em;

		border-radius: 100px;
	}
}

@media (min-width: 900px)
{
	.info_card
	{
		font-size: 85%;

		max-width: 350px;
	}

	.card_games
	{
		float: left;

		max-width: 50%;
		padding: 2em 2em 0 2em;
	}

	.content_with_card_games
	{
		width: 100%;
		max-width: 2080px;
		margin: 0 auto;
		padding: 0 1em 1em 1em;
	}
}

.card_title { margin-bottom: .5em; }

.card_info
{
	display: inline-block;

	width: 100%;

	color: #23faf2;
	border-top: 1px solid #23faf2;
	margin-top: .5em;
}

.card_info li { padding: 0 .4em; }

.card_info h5 { display: inline-block; }

.card_date { color: #867a91; }
