/* general
__________________________________________________________________________ */

*,
*:before,
*:after
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
}

.noselect
{
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	-webkit-touch-callout: none;
	 -khtml-user-select: none;
}


/* typography
__________________________________________________________________________ */

body,
textarea,
input
{
	font-family: 'Open Sans';
	font-size: 115%;

	color: #150821;
	background-color: #fafafa;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* { font-weight: normal; }

*::selection { background: #23faf2 }
*::-moz-selection { background: #23faf2 }

a
{
	text-decoration: none;

	color: #f4449e;
}

a:hover { text-decoration: underline; }

a:visited { color: #9744f4; }

p { margin: .5em .1em; }


/* layout
__________________________________________________________________________ */

ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

li { display: inline; }

li a { display: inline-block; }

.card
{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 1.2em;
}

.card_info
{
	margin-top: 1em;

	color: #23faf2;
	border-top: 1px solid #23faf2;
}

.card_info li { padding: 0 .4em; }

.card_info h5 { display: inline-block; }

.card_date { color: #867a91; }

#tab
{
	font-size: 85%;

	overflow: auto;

	width: 100vw;

	text-align: center;
}


#tab div
{
	float: left;

	width: 50%;
	padding: 0 1em 1em 1em;

	cursor: pointer;

	color: #f4449e;
	border-bottom: .3em solid #fafafa;
}

#tab div:hover { text-decoration: underline; }

.tab_selected
{
	text-decoration: underline;

	border-bottom: .3em solid #23faf2 !important;
	color: #9744f4 !important;
}

#content { width: 100vw; }

#info
{
	display: none;

	width: 100vw;
}

@media (min-width: 900px)
{
	#tab { display: none; }

	.content_with_list
	{
		float: left;

		width: 70vw !important;
		border-right: 1px solid #23faf2;
	}

	#info
	{
		display: block;
		float: left;

		width: 30vw;
	}

	#info .card
	{
		font-size: 85%;

		max-width: 350px;
	}
}


/* header
__________________________________________________________________________ */

#header
{
	font-size: 120%;

	width: 100vw;
	height: 6.5em;

	text-align: center;

	background-color: #23faf2;
	background-image: url('/s/img/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	margin-bottom: 1em;
}

#header div
{
	line-height: 4.5em;

	width: 100%;
	height: 4.5em;

	cursor: default;
}

#header div h1
{
	opacity: .6;
	color: #340839;
}

nav
{
	line-height: 1.9em;

	overflow: auto;

	width: 100%;
	height: 2em;
	padding: 0;

	background-color: rgba(52, 8, 57, .4);
}

nav a
{
	padding: 0 1em;

	color: #fafafa !important;
}
