/* general
__________________________________________________________________________ */

*,
*:before,
*:after
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
}

.noselect
{
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	-webkit-touch-callout: none;
	 -khtml-user-select: none;
}


/* typography
__________________________________________________________________________ */

body,
textarea,
input
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	font-size: 115%;

	color: #302129;
	background-color: #fafafa;
	word-wrap: break-word;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* { font-weight: normal; }
strong { font-weight: bold; }

a
{
	text-decoration: none;

	color: #f4449e;
}

a:hover { text-decoration: underline; }

a:visited { color: #9744f4; }

p { margin: .5em .1em; }

pre {
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 90%;
	width: 100%;
}

.highlighttable { margin: 1em .4em 1em .4em; }

pre { overflow: hidden; }

.highlight
{
	font-size: 90%;

	display: block;
	overflow: hidden;

	margin: .9em  0;
	padding: 1.6em .6em 1.6em .6em;

	white-space: pre-wrap;
	word-wrap: break-word;

	border-radius: 3px;
}


/* defaults
__________________________________________________________________________ */

section { overflow: auto; }

ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

li { display: inline; }

li a { display: inline-block; }

img {
	width: 100%;
	border-radius: 2px;
}


/* header
__________________________________________________________________________ */

#header
{
	font-size: 120%;

	margin-bottom: 1em;

	text-align: center;

	background: url('/s/img/header_bg.jpg') no-repeat center;
	background-color: #07ffff;
	background-size: cover;
}

#header div
{
	line-height: 4.25em;

	width: 100%;
	height: 4.5em;

	cursor: default;
}

#header div a
{
	opacity: .5;
	color: #302129 !important;
}

nav
{
	line-height: 1.95em;

	overflow: auto;

	width: 100%;
	height: 2em;
	padding: 0;

	opacity: .5;
	background-color: #302129;
}

nav a
{
	padding: 0 .8em;

	color: white !important;
}


/* layout
__________________________________________________________________________ */

#tab
{
	font-size: 85%;

	overflow: auto;

	width: 100vw;

	text-align: center;

	border-bottom: 1px solid #07ffff;
	margin-top: -1em;
}

.tab_selected
{
	text-decoration: underline;

	border-bottom: 2px solid #07ffff !important;
	color: #9744f4 !important;
}

#tab div
{
	float: left;

	width: 50%;
	padding: 1em;

	cursor: pointer;

	color: #f4449e;
	border-bottom: 2px solid #fafafa;
}

#tab div:hover { text-decoration: underline; }

#content
{
	width: 100vw;
	margin-bottom: 1em;
}

#info
{
	display: none;

	width: 100vw;
}

@media (min-width: 900px)
{
	#tab { display: none; }

	.content_with_tabs
	{
		float: left;

		width: 70vw !important;
		border-right: 1px solid #07ffff;
	}

	#info
	{
		display: block;
		float: left;

		width: 30vw;
	}

	#info .card
	{
		font-size: 95%;

		max-width: 350px;
	}
}

.info_icon { width: 2.5em; }


/* cards
__________________________________________________________________________ */

.card
{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 1.2em;
	overflow: hidden;
}

.howto_image
{
	width: 100%;
	height: 10em;
	margin-bottom: .5em;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card_title_howtos:hover {
	text-decoration: underline;
}

@media (min-width: 500px)
{
	.card_title_howtos
	{
		display: inline-block;
		float: right;

		width: calc(100% - 6em);
	}

	.howto_image
	{
		float: left;

		width: 8em;
		height: 8em;

		border-radius: 100px;
	}
}

@media (min-width: 900px)
{
	.info_card
	{
		font-size: 85%;

		max-width: 350px;

		padding: .5em auto;
	}

	.card_games
	{
		float: left;

		max-width: 50%;
		padding: 2em 2em 0 2em;
	}

	.content_with_card_games
	{
		width: 100%;
		max-width: 2080px;
		margin: 0 auto;
		padding: 0 1em 1em 1em;
	}
}

.info_card h1 { color: #867a7c !important; }

.card_title { margin-bottom: .5em; }

.card_info
{
	font-size: 110%;
	display: inline-block;

	width: 100%;

	color: #07ffff;
	border-top: 1px solid #07ffff;
	margin-top: .5em;
}

.card_info li { padding: 0 .4em; }

.card_info h5 { display: inline-block; }

.card_date { color: #867a7c; }

li a h5:hover { text-decoration: underline; }


/* generics
__________________________________________________________________________ */

.video_container
{
	cursor: pointer;
	border-radius: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.video_container div
{
	width: 100%;
	padding-bottom: 56.25%;

	background: url('/s/img/icon/play.png') no-repeat center;
	background-size: 20%;
}

@-webkit-keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

@-ms-keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

@keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

#loading
{
	overflow: auto;

	width: 78px;
	margin: 0 auto;
}

#loading div
{
	float: left;

	width: 15px;
	height: 15px;
	margin: 0 3px 0 3px;

	-webkit-animation: bg_change .5s infinite alternate;
		-ms-animation: bg_change .5s infinite alternate;
			animation: bg_change .5s infinite alternate;

	border-radius: 100px;
	background-color: #34aadc;
}
