{% extends 'panel/base.html' %}
{% block title %}{% if object.title %}edit | {{ object.title }}{% else %}new entry{% endif %}{% endblock %}
{% load static from staticfiles %}

{% block content %}
	<section id="content" class="content_with_tabs">
		<div class="card">
			<form id="entry_form" action="{% if object.get_edit_url %}{{ object.get_edit_url }}{% else %}/new_entry/{% endif %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_ul }}
				<input type="submit" value="post" />
			</form>
		</div>
	</section>
{% endblock %}

{% block js %}
	<script src="{% static "js/lib/autosize_3.0.4.min.js" %}"></script>
	{{ block.super }}
{% endblock %}
