{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}withaliasing{% endblock %}</title>
	<meta name="description" content="Withaliasing is a nice place on the internet for gaming devs.">
	<meta name="keywords" content="withaliasing, games, development, jam, indie">
	<meta name="theme-color" content="#07ffff">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static "img/logo.png" %}">

	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/monokai.css' %}" type="text/css" charset="utf-8">

	{% if user.is_authenticated %}
		<link rel="stylesheet" href="{% static 'css/panel.css' %}" type="text/css" charset="utf-8">
	{% endif %}

	{% block css %}{% endblock %}
	{% block js_head %}{% endblock %}
</head>
<body>
	{% block header %}
		<section id="header" class="noselect">
			<div><h1><a href="/">with aliasing</a></h1></div>
			<nav>
				<ul>
					<li><a href="/howtos"><h4>howtos</h4></a></li>
					<li><a href="/games"><h4>games</h4></a></li>
				</ul>
			</nav>
		</section>
	{% endblock %}

	{% block tab %}
		<section id="tab" class="noselect">
			<div id="tab_content" class="tab_selected">content</div>
			<div id="tab_info" >info</div>
		</section>
	{% endblock %}

	{% block content %}{% endblock %}

	{% block info %}
		<section id="info">
			{% if user.is_authenticated %}
				<div class="card info_card">
					<h1 class="title">panel</h1>
					<div class="card_content">
						<p><a href="/new_entry">new entry</a> / <a href="/all_entries">all entries</a></p>
						<p><a href="/new_image">new image</a> / <a href="/all_images">all images</a></p>
						<p><a href="/new_category">new category</a></p>
						<p><a href="/logout">logout</a></p>
					</div>
				</div>
			{% endif %}

			<div class="card info_card">
				<h1 class="title">about</h1>
				<div class="card_content">
					<p><a href="mailto:dortamiguel@gmail.com" target="_blank">email</a></p>
					<p><a href="https://twitter.com/ellipticaldoor">twitter</a></p>
					<p><a href="https://github.com/ellipticaldoor/">github</a></p>
					<p><a href="/rss">rss</a></p>
				</div>
			</div>

			<div class="card info_card">
				<h1 class="title">categories</h1>
				<div class="card_content">
					<p><a href="#">games</a></p>
					<p><a href="#">howtos</a></p>
					<p><a href="#">music</a></p>
					<p><a href="#">news</a></p>
				</div>
			</div>
		</section>
	{% endblock %}

	<script src="{% static "js/lib/zepto_1.1.6.min.js" %}"></script>
	<script src="{% static "js/global.js" %}"></script>
	{% block js %}{% endblock %}
</body>
</html>
