{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}withaliasing{% endblock %}</title>
	<meta name="description" content="withaliasing - A nice place for gaming devs.">
	<meta name="keywords" content="withaliasing, games, development, jam, indie">
	<meta name="theme-color" content="#23faf2">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/open_sans.css' %}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" charset="utf-8">

	{% block js_head %}{% endblock %}
</head>
<body>
	<section id="header" class="noselect">
		<div><h1>with aliasing</h1></div>
		<nav>
			<ul>
				<li><a href="#"><h5>blog</h5></a></li>
				<li><a href="#"><h5>howtos</h5></a></li>
				<li><a href="#"><h5>games</h5></a></li>
			</ul>
		</nav>
	</section>

	<section id="content">
		{% block content %}{% endblock %}
	</section>

	<section id="info">
		<div class="card">
			<h1 class="title"><a href="#">title 1</a></h1>
			<div class="card_content">
				<p>Me gustan los juegos sencillos, claros y originales. </p><p>Windosill en concreto te muestra pantalla por pantalla algo nuevo e interesante que te anima a seguir avanzando.</p><p>Tiene una estética muy cuidada que nada más empezar te mete de lleno en su propio mundo, una sensación bastante parecida a la que se produce cuando empiezas a jugar a <a href="http://www.monumentvalleygame.com/">Monument Valley</a>.</p><p>Se puede jugar online en <a href="http://windosill.com/online/fdsssfdfds">http://windosill.com/online/</a></p>
			</div>
		</div>
	</section>

	{% block js %}{% endblock %}
</body>
</html>
