{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}withaliasing{% endblock %}</title>
	<meta name="description" content="withaliasing - A nice place for gaming devs.">
	<meta name="keywords" content="withaliasing, games, development, jam, indie">
	<meta name="theme-color" content="#45dfe9">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/open_sans.css' %}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" charset="utf-8">

	{% block js_head %}{% endblock %}
</head>
<body>
	<section id="header" class="noselect">
		<div><h1>with aliasing</h1></div>
		<nav>
			<a href="#"><h5>blog</h5></a>
			<a href="#"><h5>howtos</h5></a>
			<a href="#"><h5>games</h5></a>
		</nav>
	</section>

	<section id="content">
		{% block content %}{% endblock %}
	</section>

	<section id="info">
		<div class="card">
			<h1 class="title"><a href="#">archive</a></h1>
			<div class="card_content">
				<p><a href="http://windosill.com/online/fdsssfdfds">january</a></p>
				<p><a href="http://windosill.com/online/fdsssfdfds">february</a></p>
				<p><a href="http://windosill.com/online/fdsssfdfds">march</a></p>
				<p><a href="http://windosill.com/online/fdsssfdfds">april</a></p>
				<p><a href="http://windosill.com/online/fdsssfdfds">may</a></p>
			</div>
		</div>
	</section>

	{% block js %}{% endblock %}
</body>
</html>
